In [17]:
import pandas as pd
import copy

In [13]:
pd.read_table("untitled.bed")

  chromosome  start  stop
0       chr1     23    45
1       chr2     75    88

In [14]:
cpgs = pd.read_table("untitled.bed")

In [9]:
cpgs.stop

0    45
1    88
Name: stop, dtype: int64

In [10]:
cpgs.stop.max

<bound method Series.max of 0    45
1    88
Name: stop, dtype: int64>

In [11]:
cpgs_len = cpgs.stop.max

In [20]:
shore = copy.deepcopy(cpgs)
shelve = copy.deepcopy(cpgs)
# sea = ...

In [22]:
shore.start *= 2
shore.stop *= 2

shelve.start *= 2
shelve.stop *= 2